<body>
    <h1>Lorem Ipsum Generator</h1>
    <form action="/" method="POST">
        <h2>Lorem Ipsum Options</h2>
        <label for="p_number">Number of Paragraphs</label>
        <input type="number" id="p_number" name="p_number" required><br>
        <label for="p_length">Paragraph Length</label>
        <input type="radio" id="short" name="p_length" value="short" required>
        <label for="short">Short</label> 
        <input type="radio" id="medium" name="p_length" value="medium" required>
        <label for="medium">Medium</label>
        <input type="radio" id="long" name="p_length" value="long" required>
        <label for="long">Long</label><br>
        <input type="checkbox" id="headers" name="headers" value="headers">
        <label for="headers">With Headers</label><br>
        <input type="submit" value="Submit">
    </form>
    